# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
.DS_Store

# WordPress
web/wp
web/.htaccess
wp-engine.php

# Dotenv
.env
.env.*
.origins
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
node_modules/
bower_components/

# vscode sftp
.vscode/*
web/app/themes/fuse/.vscode/*
web/app/.vscode/*
sftp-config.json
