html, body
	font-smoothing: antialiased
	text-decoration-skip-ink: auto

html
	color: $default
	font: 19px/1.55 $font

body
	background: $grey
	padding: 0
	margin: 0

	&.nohover
		pointer-events: none !important

	&.locked
		@media (max-width: $small)
			position: fixed
			+sq(100%)
			overflow: hidden

+colourSelection
	color: #FFF
	background: #000

#content
	background: #FFF

.wrapper
	+clearfix
	max-width: $maxWidth
	margin: auto
	padding: 0 25px

	&.skinny
		max-width: 1010px

.row .col
	padding: 0

.row
	margin-bottom: 0

h1,h2,h3,h4,h5,h6
	font-weight: 700
	line-height: 1
	margin: 0
	text-transform: none
	font-family: $heading
	color: $orange

	&:not(:first-child)
		margin: 40px 0 0

	+ p
		margin-top: 15px
		font-family: $subtext

h2
	font-size: 36px

h3
	color: #56585a
	font-weight: 700
	font-size: 21px

h4
	font-size: 21px
	color: $grey

h5
	width: 100%
	color: $light-grey
	font-size: 14px
	text-transform: uppercase
	letter-spacing: .08em
	margin: 0 0 15px

p, ol, ul, li
	margin: 25px 0

	&:first-child
		margin-top: 0

	&:last-child
		margin-bottom: 0

strong
	font-weight: 700

ol, ul
	li
		margin: 5px 0

ol
	padding-left: 23px

ul
	padding-left: 25px

	li
		list-style-type: disc

a
	color: $default
	font-size: inherit
	line-height: inherit

	&:hover
		text-decoration: underline rgba($orange, .5)

figure
	margin: 0
	padding: 0

img
	max-width: 100%
	height: auto

blockquote
	margin: 25px auto
	padding: 0
	border: 0

hr
	clear: both
	display: block
	margin: 20px auto
	border: 0
	border-top: 2px solid #EBEDF0

.flex
	display: flex
	align-items: center

*::-webkit-scrollbar
	width: 5px
	background: rgba(255,255,255,.8)

*::-webkit-scrollbar-thumb
	background: $orange
