.agent-header
    border-bottom: 2px solid $light-grey

    .agent
        width: 100%
        display: grid
        grid-template-columns: auto 1fr
        align-items: center
        text-align: left
        grid-gap: 40px

        figcaption
            border: 0

        > img
            width: 100%
            height: auto

        h3
            font-family: $heading

        .property-types
            margin: 20px 0
            display: flex
            align-items: center

            small
                margin-left: 10px

    .social-media .social
        padding: 0

        li
            margin: 0

            + li
                margin-left: 20px

    .contact-info
        display: flex
        align-items: center
        line-height: 1

        > div, > div > ul
            display: inline
            align-items: inherit

        *
            line-height: 1
            vertical-align: middle

.agent-copy
    @media (min-width: $small)
        padding-right: 80px !important

    h3
        font-size: 21px
        color: $grey

        + p
            font-weight: 700

    p
        font-size: 16px

.agent-content
    padding-top: 40px
    padding-bottom: 40px

.agent-sidebar ul
    font-size: 16px

.single-listings
    border-top: 7px solid $light-grey
    padding: 45px 0 0 0

    h3
        font-size: 36px
        margin: 0 0 45px 0
