.call-out-blocks
    border-bottom: 7px solid $light

    .wrapper
        display: grid
        grid-template-columns: repeat(var(--cols, 3), 1fr)
        align-items: center
        justify-content: center
        padding: 35px 0

        @media (max-width: $small)
            --cols: 1

    .block
        text-align: center
        padding: 0 25px

        p
            font-size: 14px

    @media (max-width: $small)
        .block
            width: 100%
            padding: 25px
