.lightbox
	display: flex
	align-items: center
	justify-content: center
	z-index: 1000
	+cover(fixed)
	+transition(opacity .3s ease-out)
	background: rgba(0,0,0, .5)

	&:not(.open)
		pointer-events: none
		+opacity(0)

		.lightbox-content
			+transform(translate(0, -250px))

			@media (max-width: $small)
				+transform(translateY(100%))

		.no-csspointerevents &
			display: none

	.close
		z-index: 10
		position: absolute
		top: 0
		right: 0
		color: #FFF
		padding: 0 25px 10px
		background: $orange
		font-size: 32px
		font-weight: 700

		&:hover
			text-decoration: none

	.lightbox-content
		position: relative
		top: 0
		left: 0
		max-width: 70%
		margin: auto
		padding: 45px
		+transition(transform .7s ease-out)
		transform: none
		background: #FFF

		h2
			color: $orange

	form
			margin: auto

	.gform_wrapper
		.validation_error
				font-size: initial
				margin: 15px auto
				text-align: left

		.gfield_description,
		.validation-message,
		label
			font-size: 11px
			padding: 0
			text-align: left

		.instruction
				display: none

		.ginput_complex
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-gap: 10px

		.gform_title
				text-align: left
				margin-bottom: 15px

.lightbox #gform_3 ul
		display: grid
		align-items: end
		grid-template-columns: repeat(6, 1fr)
		grid-gap: 20px 10px

		.gfield
			grid-column: span 2
			width: 100%
			padding: 0
			text-align: left

		.gfield_label
				display: block

				.gfield_required
						color: red

		.full-width
			grid-column: span 6

		#field_3_23
			+ .gfield,
			+ .gfield + .gfield
				grid-column: span 3

		#field_3_14,
		#field_3_15
			grid-column: span 3

		#field_3_7,
		#field_3_21
			grid-column: span 6

		#field_3_13
			grid-column: span 6

			textarea
				height: 55px

		#field_3_18,
		#field_3_19
			.gfield_description
					display: none

		.ginput_container_fileupload
			padding: 25px 25px 15px 25px
			color: rgba(0,0,0,.5)
			font-size: 13px
			text-align: center
			background: #dcdcdc

			~ .gfield_description
					display: none

			[type=button]
				font-size: 12px
				padding: 7px 10px
				margin: 0 0 0 5px

		.ginput_preview
			img
				vertical-align: middle

			strong
				font-size: 13px
				line-height: 1
