.single-neighborhood,
.single-school
    .page-intro
        border-bottom: 0

    .neighborhood-copy
        margin: 25px 25px 25px 0

        p
            font-size: 16px
            line-height: 1.75
            font-family: $subtext

.neighborhood-info,
.school-row,
.neighborhood-stats
    &:not(:last-child)
        border-bottom: 2px solid $light

.neighborhood-info,
.school-info,
.school-row,
.neighborhoods-row,
.neighborhood-stats
    padding: 45px 0

    h2
        color: $grey
        font-size: 21px
        margin-bottom: -25px

.neighborhood-sidebar
    h5
        text-transform: uppercase
        color: $light-grey
        font-size: 14px
        font-family: $subtext
        letter-spacing: .08em

    ul
        padding: 0
        margin: 0

        li
            list-style: none
            font-size: 16px
            line-height: 1.5
            color: #707270
            margin: 0

.school-wrapper
    position: relative
    overflow: hidden

    &.show-fade
        transition: max-height .3s ease-in-out

        &:not(.expand)
            max-height: 245px !important

        &:after
            content: ''
            pointer-events: none
            position: absolute
            right: 0
            bottom: 0
            left: 0
            height: 100px
            transition: opacity .3s ease-in-out
            background: linear-gradient(to bottom, transparent, #FFF)

        &.expand:after
            opacity: 0

.expand-school
    display: block
    font-size: 16px
    text-align: center
    margin: 20px auto

    a
        color: $orange

    i
        margin-right: 10px

.school-labels
    display: flex

    h5
        width: 100%
        color: #b5b4b9
        font-size: 14px
        font-family: $bold
        letter-spacing: .08em
        text-transform: uppercase
        margin: 15px 0 25px

.grades-distance
    display: flex
    margin-left: auto
    color: #707270
    align-items: center
    font-weight: 700

    .grades, .distance
        width: 110px
        text-align: left

.school
    display: flex
    font-size: 16px

    h6
        color: $grey
        font-family: $bold
        font-size: 16px
        margin: 0

    .rating-name
        display: flex
        align-items: center
        width: 100%

        .rating
            color: $orange
            font-size: 32px
            font-family: $bold
            font-weight: 700
            line-height: 1
            padding: 15px 15px 15px 0

.neighborhood-stats
    display: flex
    flex-wrap: wrap

    > div
        width: 25%
        text-align: center

        &:not(:last-of-type)
            border-right: 2px solid $light

        strong
            color: $orange
            font-size: 32px
            font-weight: 700
            display: block

        small
            color: #b5b4b9
            text-transform: uppercase
            letter-spacing: .08em
            font-size: 14px
            font-weight: 700

.school-info .school-copy p
    font-size: 13px
    color: $grey

.school-info + .disclaimer
    font-size: 13px
    color: $grey
    margin: 0 auto 50px

.neighborhoods-row ul
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    line-height: 1.5

    li
        list-style: none
        width: 33%
        font-size: 16px
        margin: 0
